{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio - Aman Maurya</title>        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            h1 {
                margin: 0%;
                padding: 0%;
            }
            #home {
                width: 100vw;
                height: 100vh;
                padding: 12%;
            }
            img {
                width: 300px;
                transition: opacity .5s ease-in-out;
            }
            img:hover {
                opacity: .5;
            }
            .col_text {
                -webkit-column-count: 3;
                column-count: 3;
            }
        </style>
    </head>
    <body data-spy="scroll" data-target=".navbar" style="background-image: url('/static/img/bg.jpg'); background-size:100%; color:white;">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="color:orange;">AMAN MAURYA</a> 
            </div>
            <div class="container-fluid">              
                <ul class="nav navbar-nav navbar-right ">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#pics">Pictures</a></li>
                    <li><a href="#about">About</li></a>
                    <li><a href="#blog">Blog</a></li>
                    <li><a href="#contact">Contact</a>
                 </ul>
            </div>
        </nav>
        <div>
            <section id="home" class="container text-center">
                <div class="jumbotron" style="background-color: transparent;">
                <h1 class="warning"> Welcome!</h1>
                    <p class="lead"><h1>I am <span style="color:orange">!a Web Designer</span> yet.</h1></p>
                    <a href= "#pics"><button class="btn btn-warning">View pictures</button></a>
                    <button class="btn btn-default" data-toggle="modal" data-target="#modal1">Miss me!</button>
                    <div class="modal fade" id="modal1">
                        <div class="modal-dialog">
                            <div class="modal-content text-left" style="color:black;">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal">x</button>
                                    <h4> Miss Me!</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Oh well, I miss you too!</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="close" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
            </section>

            <section id="pics" class="container text-center">
                <div class="page-header">
                    <h1> My Pictures</h1>
                </div>
                <a href="/static/img/aslide1.jpg"><img src="/static/img/aslide1.jpg" class="img-thumbnail"></a>
                <a href="/static/img/aslide2.jpg"><img src="/static/img/aslide2.jpg" class="img-thumbnail"></a>
                <a href="/static/img/aslide3.jpg"><img src="/static/img/aslide3.jpg"class="img-thumbnail"></a>
                <a href="/static/img/aslide4.jpg"><img src="/static/img/aslide4.jpg"class="img-thumbnail"></a>
                <a href="/static/img/aslide5.jpg"><img src="/static/img/aslide5.jpg"class="img-thumbnail"></a>
                <a href="/static/img/aslide6.jpg"><img src="/static/img/bg3.jpg"class="img-thumbnail"></a>
                <br><br>
            </section>

            <section  id="about" class="container">
                <div class=" text-center page-header">
                    <h1> About Me</h1>
                </div>
                <div class="col_text">
                    What does Ank mean? - Definitions.netwww.definitions.net › definition › Ank
                    Definition of Ank in the Definitions.net dictionary. Meaning of Ank. What does Ank mean? Information and translations of Ank in the most comprehensive ...

                    ANK - What does ANK stand for? The Free Dictionaryacronyms.thefreedictionary.com › ANK
                    Acronym, Definition. ANK, Ankara (Turkey). ANK, Address Not Known. ANK, Anunaki (ancient Sumerian Gods). ANK, Attempted, Not Known. ANK, Auto NetKit ...

                    Ank meaning in hindi - Ank Arth and Definition - Online Hindi ...www.hindi2dictionary.com › ank-meaning-eng
                    Translate this page
                    Get definition and hindi meaning of Ank. What is Hindi definition and meaning of Ank ? (hindi matlab - arth kya hai?). Recently Viewed Words. ▻Barkhurdar.
                    What does Ank mean? - Definitions.netwww.definitions.net › definition › Ank
                    Definition of Ank in the Definitions.net dictionary. Meaning of Ank. What does Ank mean? Information and translations of Ank in the most comprehensive ...

                    ANK - What does ANK stand for? The Free Dictionaryacronyms.thefreedictionary.com › ANK
                    Acronym, Definition. ANK, Ankara (Turkey). ANK, Address Not Known. ANK, Anunaki (ancient Sumerian Gods). ANK, Attempted, Not Known. ANK, Auto NetKit ...

                    Ank meaning in hindi - Ank Arth and Definition - Online Hindi ...www.hindi2dictionary.com › ank-meaning-eng
                    Translate this page
                    Get definition and hindi meaning of Ank. Wh
                    What does Ank mean? - Definitions.netwww.definitions.net › definition › Ank
                    Definition of Ank in the Definitions.net dictionary. Meaning of Ank. What does Ank mean? Information and translations of Ank in the most comprehensive ...

                    ANK - What does ANK stand for? The Free Dictionaryacronyms.thefreedictionary.com › ANK
                    Acronym, Definition. ANK, Ankara (Turkey). ANK, Address Not Known. ANK, Anunaki (ancient Sumerian Gods). ANK, Attempted, Not Known. ANK, Auto NetKit ...

                    Ank meaning in hindi - Ank Arth and Definition - Online Hindi ...www.hindi2dictionary.com › ank-meaning-eng
                    Translate this page
                    Get definition and hindi meaning of Ank. Wh
                    What does Ank mean? - Definitions.netwww.definitions.net › definition › Ank
                    Definition of Ank in the Definitions.net dictionary. Meaning of Ank. What does Ank mean? Information and translations of Ank in the most comprehensive ...

                    ANK - What does ANK stand for? The Free Dictionaryacronyms.thefreedictionary.com › ANK
                    Acronym, Definition. ANK, Ankara (Turkey). ANK, Address Not Known. ANK, Anunaki (ancient Sumerian Gods). ANK, Attempted, Not Known. ANK, Auto NetKit ...

                    Ank meaning in hindi - Ank Arth and Definition - Online Hindi ...www.hindi2dictionary.com › ank-meaning-eng
                    Translate this page
                    Get definition and hindi meaning of Ank. Wh
                    <br/><br>
                </div>

                <div class="row">
                    <br>
                    <div class="col-md-6">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h4>Web Designing</h4>
                            </div>
                            <div class="panel-body">
                                <img src="/static/img/logo.jpg" class="img-circle center-block">
                                <p class="lead text-center">I do Web Designing.</p>
                            </div>
                            <div class="panel-foooter"></div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h4>Web Designing</h4>
                            </div>
                            <div class="panel-body">
                                <img src="/static/img/logo.jpg" class="img-circle center-block">
                                <p class="lead text-center">I do Web Designing.</p>
                            </div>
                            <div class="panel-foooter"></div>
                        </div>
                    </div>
                </div>
                <br><br>
            </section>

            <section id="contact">
                <br>
                <div class="page-header">
                    <h1 class="text-center">Contact Me!</h1>
                </div>
                <form class="col-md-5 col-md-offset-3">
                    <div class="form-group">
                        <input class="form-control" placeholder="Insert Your Name" type="text">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Insert Your Email" type="text">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Subject" type="text">
                    </div>
                    <div class="form-group">
                        <textarea rows="10" class="form-control">Type Something</textarea>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-block btn-warning" type="submit">
                    </div>
                </form>
            </section>

        </body>
</html>
